# Dynamic inventory for AWS EC2 instances (if needed)
plugin: aws_ec2
regions:
  - us-east-1
filters:
  tag:Project: django-app
  instance-state-name: running
keyed_groups:
  - key: tags.Name
    prefix: tag
hostnames:
  - ip-address
compose:
  ansible_host: public_ip_address