apiVersion: v1
kind: ConfigMap
metadata: 
  name: django-config
  namespace: django-app-dev
data:
  ALLOWED_HOSTS: "*"
  DEBUG: "True"
  ENVIRONMENT: "development"  # Changed from "production"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: django-config
  namespace: django-app-prod
data:
  ALLOWED_HOSTS: "*"
  DEBUG: "False"
  ENVIRONMENT: "production"
---
apiVersion: v1
kind: ConfigMap
metadata: 
  name: prometheus-config
  namespace: monitoring
data: 
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
      
      - job_name: 'kubernetes-nodes'
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
      
      - job_name: 'django-app'
        static_configs:
          - targets: ['django-app-service.django-app-dev: 80', 'django-app-service.django-app-prod:80']