apiVersion: v1
kind:  Namespace
metadata:  
  name: django-app-dev
  labels:
    environment: dev
---
apiVersion: v1
kind: Namespace
metadata:  
  name: django-app-prod
  labels:
    environment: prod
---
apiVersion: v1
kind: Namespace
metadata: 
  name: monitoring
  labels:
    name: monitoring